

<div class="row">
    <div class="col-md">
        <div class="card  text-center">
            <div class="card-header">
                <h3 class="card-title">Total Member</h3>
            </div>
            <div class="card-body" id="Total-member">
                <h1>{{total_member}}</h1>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card  text-center">
            <div class="card-header">
                <h3 class="card-title">Total Males</h3>
            </div>
            <div class="card-body" id="Total-member">
                <h1>{{total_male}}</h1>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card  text-center">
            <div class="card-header">
                <h3 class="card-title">Total Females</h3>
            </div>
            <div class="card-body" id="Total-member">
                <h1>{{total_female}}</h1>
            </div>
        </div>
    </div>
</div>
<br>

